body{
    background-color: #04A6EB;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button{
    padding: 5px 20px;
    background-color: rgb(198, 199, 201);
    border-color: white;
    border-style: none;
}
input {
    height: 20px;
}
